body {
  font-family: Arial, sans-serif;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175vh;
}

#type {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #ffffff;
  font-size: 20px;
  text-align: center;
  min-height: 24px;
}


.search-container {
  width: 400px;
  text-align: center;
}

input {
  width: 100%;
  padding: 14px 18px;
  font-size: 16px;
  border-radius: 24px;
  border: 1px solid #000000;
  outline: none;
}

input:focus {
  border-color: #4285f4;
}

#output {
  margin-bottom: 16px;
  font-size: 18px;
  color: #333;
  min-height: 24px; /* prevents layout jumping */
}
