body {
  font-family: Arial, sans-serif;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175vh;
  overflow: hidden;
}

.dialogue {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translateX(-50%);
  width: min(90vw, 640px);
  text-align: center;
}

#personA {
  color: white;
  font-size: 20px;
  min-height: 24px;
}

#personB {
  color: #6aa6ff;
  font-size: 20px;
  margin-top: 154px;
  min-height: 24px;
}


.search-container {
  position: absolute;
  bottom: 8vh;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  width: 1420px;
}

input {
  width: 35%;
  padding: 14px 18px;
  font-size: 16px;
  border-radius: 24px;
  border: 1px solid #000000;
  outline: none;
}

input:focus {
  border-color: #545454;
}

#output {
  margin-bottom: 16px;
  font-size: 18px;
  color: #333;
  min-height: 24px; /* prevents layout jumping */
}


#button {
  position: absolute;
  top: 3%;
  right: 3%;
  color: white;
  text-decoration-line: none;
  font-size: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

#reset {
  position: absolute;
  top: 3%;
  left: 3%;
  color: white;
  font-size: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

a {
  text-decoration-line: none;
  color: white;
}

#type {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}