body {
  font-family: Arial, sans-serif;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175vh;
  overflow: hidden;
}

#type {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #ffffff;
  font-size: 20px;
  text-align: center;
  min-height: 24px;
}


.search-container {
  width: 300px;
  text-align: center;
}

input {
  width: 35%;
  padding: 14px 18px;
  font-size: 16px;
  border-radius: 24px;
  border: 1px solid #000000;
  outline: none;
}

input:focus {
  border-color: #545454;
}

#output {
  margin-bottom: 16px;
  font-size: 18px;
  color: #333;
  min-height: 24px; /* prevents layout jumping */
}



#button {
  position: absolute;
  top: 3%;
  right: 3%;
  color: white;
  text-decoration-line: none;
  font-size: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

#reset {
  position: absolute;
  top: 3%;
  left: 3%;
  color: white;
  font-size: 10px;
  padding: 10px 20px;
  cursor: pointer;
}

a {
  text-decoration-line: none;
  color: white;
}

/* #personA {
  color: white;
  font-size: 20px;
  text-align: center;
} */

#personB {
  color: #6aa6ff; /* different speaker */
  font-size: 20px;
  text-align: center;
  margin-top: 12px;
}
