body {
  font-family: Arial, sans-serif;
  background: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 175vh;
}

.search-container {
  width: 400px;
  text-align: center;
}

input {
  width: 100%;
  padding: 14px 18px;
  font-size: 16px;
  border-radius: 24px;
  border: 1px solid #000000;
  outline: none;
}

input:focus {
  border-color: #4285f4;
}

#output {
  margin-top: 20px;
  font-size: 18px;
  color: #ffffff;
}
