html, body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

canvas {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 0 !important;
  pointer-events: none; /* 👈 VERY IMPORTANT */
}

#type {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #ffffff;
  font-size: 20px;
  text-align: center;
  min-height: 24px;
  z-index: 1;
}

input {
  width: 100%;
  padding: 14px 18px;
  font-size: 16px;
  border-radius: 24px;
  border: 1px solid #000000;
  outline: none;
}

input:focus {
  border-color: #545454;
}

#output {
  margin-bottom: 16px;
  font-size: 18px;
  color: #333;
  min-height: 24px; /* prevents layout jumping */
}


#button {
  position: absolute;
  top: 3%;
  right: 3%;
  color: white;
  text-decoration-line: none;
  font-size: 10px;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 100;
}

a {
  text-decoration-line: none;
  color: white;
}